#gameArea {
    margin-top: 20px;
    text-align: center;
    border: none;
}

.healthBar {
    width: 200px;
    height: 20px;
    background-color: #68663b;
    margin: 10px auto;
}

#actionButtons {
    margin-top: 20px;
    height: 1.5rem;
    padding: 0rem 1rem;
}

#battleLog{
    margin-top: 20px;
    padding: 10px;
    height: 250px;
    overflow-y: auto;
}